// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      .footer__col
        .footer__copy 
          span SVS Косметология
          span © 2017  Все права защищены.
      .footer__col
        span Москва, ул. Арбат, 1
        span тел.: <a href="tel:+74955265380">+7 495 526 5380</a>
        span e-mail: <a href="mailto:info@site.ru">info@site.ru</a>

      .footer__col
        .footer__socials
          a(href="#").social.social--small.social--facebook
            +icon('ico-social-facebook')
          a(href="#").social.social--small.social--youtube
            +icon('ico-social-youtube')
          a(href="#").social.social--small.social--instagram
            +icon('ico-social-instagram')
          a(href="#").social.social--small.social--vk
            +icon('ico-social-vk')
// FOOTER :: END
