// HEADER :: START
header.header
  .container.container--wide
    .header__wrapper
      a(href="homepage.html").header__logo
        // logo
          
      ul.header__menu(js-header-menu)
        li
          a(href="about.html") о нас
          ul.header__menu-sub
            li
              a(href="#") Косметология
            li
              a(href="#") Эстетическая гинекология
            li
              a(href="#") Пластическая хирургия
            li
              a(href="#") Реабилитация            
        li
          a(href="services-list.html") услуги
        li
          a(href="price-list.html") цены
        li
          a(href="video.html") видео
        li
          a(href="#") результаты лечения
        li
          a(href="i-want-list.html") я хочу!
        li
          a(href="contact.html") контакты

      .header__cta
        a(href="#").header__callback
          +icon('ico-callback')
          span заказать  звонок
        
        a(href="tel:88005551232323").header__phone
          span 8 (800)
          span 555–123–2323
        
      a(href="tel:88005551232323").header__cta-mobile
        +icon('ico-phone')
        
      
      .header__hamburger
        .hamburger.hamburger--spin(js-hamburger)
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END


// MOBILE MENU :: START
.mobile-navi
  ul.mobile-navi__menu(js-mobile-nav)    
    li
      a(href="about.html") о нас
      ul
        li
          a(href="#") Косметология
        li
          a(href="#") Эстетическая гинекология
        li
          a(href="#") Пластическая хирургия
        li
          a(href="#") Реабилитация            
    li
      a(href="services-list.html") услуги
    li
      a(href="price-list.html") цены
    li
      a(href="video.html") видео
    li
      a(href="#") результаты лечения
    li
      a(href="i-want-list.html") я хочу!
    li
      a(href="contact.html") контакты
