// HEADER :: START
header.header
  .container.container--full
    .header__wrapper
      a(href="homepage.html").header__logo
        // logo
          
      ul.header__menu(js-header-menu)
        li
          a(href="about.html") о нас
          ul.header__menu-sub
            li
              a(href="#") Косметология
            li
              a(href="#") Эстетическая гинекология
            li
              a(href="#") Пластическая хирургия
            li
              a(href="#") Реабилитация            
        li
          a(href="services-list.html") услуги
          ul.header__menu-sub
            li
              a(href="#") услуга 1
            li
              a(href="#") услуга 2
        li
          a(href="price-list.html") цены
          ul.header__menu-sub
            li
              a(href="#") услуга 1
            li
              a(href="#") услуга 2
        li
          a(href="video.html") видео
          ul.header__menu-sub
            li
              a(href="#") услуга 1
            li
              a(href="#") услуга 2
        li
          a(href="#") результаты лечения
          ul.header__menu-sub
            li
              a(href="#") услуга 1
            li
              a(href="#") услуга 2
        li
          a(href="i-want-list.html") я хочу!
          ul.header__menu-sub
            li
              a(href="#") услуга 1
            li
              a(href="#") услуга 2
        li
          a(href="contact.html") контакты

      .header__cta
        a(href="#modalCallback" js-popup).header__callback
          +icon('ico-callback')
          span заказать  звонок
        
        a(href="tel:88005551232323").header__phone
          span 8 (800)
          span 555–123–2323
        
      a(href="tel:88005551232323").header__cta-mobile
        +icon('ico-phone')
        
      
      .header__hamburger
        .hamburger.hamburger--spin(js-hamburger)
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END


// MOBILE MENU :: START
.mobile-navi
  ul.mobile-navi__menu(js-mobile-nav)    
    li
      a(href="about.html") о нас
      ul
        li
          a(href="#") Косметология
        li
          a(href="#") Эстетическая гинекология
        li
          a(href="#") Пластическая хирургия
        li
          a(href="#") Реабилитация            
    li
      a(href="services-list.html") услуги
    li
      a(href="price-list.html") цены
    li
      a(href="video.html") видео
    li
      a(href="#") результаты лечения
    li
      a(href="i-want-list.html") я хочу!
    li
      a(href="contact.html") контакты

// HEADER MODALS
.popup-dialog.popup-dialog--narrow.mfp-hide#modalCallback
  .container
    .text-title заказать звонок
    
    form.callback-form-modal(action="")
      .ui-group
        input(type="text" name="name" placeholder="Имя")
      .ui-group
        input(type="tel" name="name" placeholder="Телефон")

      .ui-checkbox
        input(type="checkbox" name="agree" id="agree")
        label(for="agree") 
          span Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных.
      .ui-group
        .btn.btn-red.btn--block
          span Отправить

    
    
