// HOW TO GET :: START
.section
  .container
    // title block
    .small-title.wow как проехать
  
    // hot to get
    .directions
      .directions__col.wow
        .directions__head м. Краснопресненская
        .directions__distance
          +icon('ico-direction') 
          span 850 м.
        .directions__text Выход из метро один. Направо до Конюшковской улицы. Повернуть направо и по Конюшковской улице (улица с уклоном вниз), идём по левой стороне улицы вдоль стены Американского посольства до конца забора. Повернуть налево, через 100 метров направо. Ориентир — церковь. Напротив церкви клиника пластической хирургии «МедЛаз» (двухэтажное здание серого цвета).
      .directions__col.wow
        .directions__head м. Смоленская
        .directions__distance
          +icon('ico-direction') 
          span 850 м.
        .directions__text Выход в город. Налево по Новинскому бульвару до пересечения с Новым Арбатом и по подземному переходу налево на Новый Арбат (в сторону Кутузовского проспекта). Идти до Девятинского переулка. Повернуть направо на Девятинский переулок (вверх до церкви). Напротив церкви клиника пластической хирургии «Медлаз» (двухэтажное здание серого цвета).
      .directions__col.wow
        .directions__head м. Арбатская
        .directions__distance
          +icon('ico-direction') 
          span 850 м.
        .directions__text Выход в город. По Новому Арбату в сторону Кутузовского проспекта до Девятинского переулка. Повернуть направо на Девятинский переулок (вверх до церкви). Напротив церкви клиника пластической хирургии «Медлаз» (двухэтажное здание серого цвета).
