---
title: Experts
bodyClass: inner
---
extends shared/_layout
block content

  // HERO SLIDER :: START
  .hero.hero--inner
    .container
      .scrolldown(js-scrolldown data-animation-delay=".3s").wow
        include ../icons/scrollDown.svg
      
    .slider.wow(js-slider data-slick-dots data-slick-arrows).m-slick-dots.m-slick-arrows.m-abs-controls
      //slide
      .slider-slide
        img.slider-slide-bg(src="img/sliderExperts.jpg" srcset="img/sliderExperts@2x.jpg 2x")
        .slider-slide__content
          .slider-slide__title Специалисты
          .breadcrumbs
            a(href="#") Главная
            span О нас
      //slide
      .slider-slide
        img.slider-slide-bg(src="img/sliderExperts.jpg" srcset="img/sliderExperts@2x.jpg 2x")
        .slider-slide__content
          .slider-slide__title Специалисты
          .breadcrumbs
            a(href="#") Главная
            span О нас  
            
            
  // SERVICES :: START
  .section
    .container
      // title block
      .title.wow
        .title__name Категория 1
        .title__description Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.
      
      // service
      .service.wow
        .service__col
          .service__title 
            .service__title-name Фамилия <br> Имя <br> Отчество
          .service__text 
            p Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.
            a(href="#").more-link
              span Подробнее
              
        .service__col
          .shadow-image.shadow-image--left
            img(alt="image name" src='img/expertsCat_1.jpg' srcset='img/expertsCat_1@2x.jpg')
            a(href="#modalOrder" js-popup).btn.btn-red.btn-filled
              span Записаться
      // service
      .service.service--reverse.wow
        .service__col
          .service__title 
            .service__title-name Фамилия <br> Имя <br> Отчество
          .service__text 
            p Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.
            a(href="#").more-link.more-link--left
              span Подробнее
              
        .service__col
          .shadow-image
            img(alt="image name" src='img/expertsCat_2.jpg' srcset='img/expertsCat_2@2x.jpg')
            a(href="#modalOrder" js-popup).btn.btn-red.btn-filled
              span Записаться
      // title block
      .title.wow
        .title__name Категория 2
        .title__description Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.

      // service
      .service.wow
        .service__col
          .service__title 
            .service__title-name Фамилия <br> Имя <br> Отчество
          .service__text 
            p Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The earth, if free men make it, will be truly round: a globe in practice, the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The earth, if free men make it, will be truly round: a globe in practice, the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals.  
            a(href="#").more-link
              span Подробнее
              
        .service__col
          .shadow-image.shadow-image--left
            img(alt="image name" src='img/expertsCat_3.jpg' srcset='img/expertsCat_3@2x.jpg')
            a(href="#modalOrder" js-popup).btn.btn-red.btn-filled
              span Записаться
              
      // service
      .service.service--reverse.wow
        .service__col
          .service__title 
            .service__title-name Фамилия <br> Имя <br> Отчество
          .service__text 
            p Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.
            a(href="#").more-link.more-link--left
              span Подробнее
              
        .service__col
          .shadow-image
            img(alt="image name" src='img/expertsCat_4.jpg' srcset='img/expertsCat_4@2x.jpg')
            a(href="#modalOrder" js-popup).btn.btn-red.btn-filled
              span Записаться


              
  include components/_modals
