---
title: oborudovanie detail
bodyClass: inner
---
extends shared/_layout
block content

  // HERO SLIDER :: START
  .hero.hero--inner
    .container
      .scrolldown(js-scrolldown data-animation-delay=".3s").wow
        include ../icons/scrollDown.svg
      
    .slider.wow(js-slider data-slick-dots data-slick-arrows).m-slick-dots.m-slick-arrows.m-abs-controls
      //slide
      .slider-slide
        img.slider-slide-bg(src="img/sliderOborudovanie.jpg" srcset="img/sliderOborudovanie@2x.jpg 2x")
        .slider-slide__content
          .slider-slide__title Оборудование
          .breadcrumbs
            a(href="#") Главная
            span О нас
      //slide
      .slider-slide
        img.slider-slide-bg(src="img/sliderOborudovanie.jpg" srcset="img/sliderOborudovanie@2x.jpg 2x")
        .slider-slide__content
          .slider-slide__title Оборудование
          .breadcrumbs
            a(href="#") Главная
            span О нас  
            
            
  // TEXT :: START
  .section.text
    .container
      // title block
      .title.title--desc-only.wow
        .news-date Косметология
        .small-title название
        .title__description As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.
      
      // text wrapper
      .text__wrapper.wow
        p <span class="first-letter">W</span> cience cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science. Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.
        p As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man. Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.

        p NASA is not about the ‘Adventure of Human Space Exploration’…We won’t be doing it just to get out there in space – we’ll be doing it because the things we learn out there will be making life better for a lot of people who won’t be able to go. The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what the word round meant until I saw Earth from space.

  // SIMILAR oborudovanie :: START
  .section
    .container
      // title block
      .small-title.wow другое оборудование
      
      .news-slider.wow(js-slider-col-3).m-slick-dots.m-slick-arrows
        // slide
        .news-slide
          a(href="#").news-slide__image
            img(alt="image name" src='img/oborudovanieSlide1.jpg' srcset='img/oborudovanieSlide1@2x.jpg 2x')
          .news-slide__content
            a(href="#").news-slide__name Название оборудования
        // slide
        .news-slide
          a(href="#").news-slide__image
            img(alt="image name" src='img/oborudovanieSlide2.jpg' srcset='img/oborudovanieSlide2@2x.jpg 2x')
          .news-slide__content
            a(href="#").news-slide__name Название оборудования
        // slide
        .news-slide
          a(href="#").news-slide__image
            img(alt="image name" src='img/oborudovanieSlide3.jpg' srcset='img/oborudovanieSlide3@2x.jpg 2x')
          .news-slide__content
            a(href="#").news-slide__name Название оборудования
        // slide
        .news-slide
          a(href="#").news-slide__image
            img(alt="image name" src='img/newsSlide2.jpg' srcset='img/newsSlide2@2x.jpg 2x')
          .news-slide__content
            a(href="#").news-slide__name Название оборудования
    
