---
title: Price list
bodyClass: inner
---
extends shared/_layout
block content

  // HERO SLIDER :: START
  .hero.hero--inner
    .container
      .scrolldown(js-scrolldown data-animation-delay=".3s").wow
        include ../icons/scrollDown.svg
      
    .slider.wow(js-slider data-slick-dots data-slick-arrows).m-slick-dots.m-slick-arrows.m-abs-controls
      //slide
      .slider-slide
        img.slider-slide-bg(src="img/sliderPricelist.jpg" srcset="img/sliderPricelist@2x.jpg 2x")
        .slider-slide__content
          .slider-slide__title Прайс-лист
          .breadcrumbs
            a(href="#") Главная
            span О нас
      //slide
      .slider-slide
        img.slider-slide-bg(src="img/sliderPricelist.jpg" srcset="img/sliderPricelist@2x.jpg 2x")
        .slider-slide__content
          .slider-slide__title Прайс-лист
          .breadcrumbs
            a(href="#") Главная
            span О нас  
            
            
  // SERVICES :: START
  .section
    .container
      // title block
      .title.title--desc-only.wow

      // row
      .p-row
        .sidebar.wow
          .sidebar__inner
            .sidebar__mobile-control
              span раскрыть меню
              .sidebar__mobile-control-icon
                span
                span
            // category =
            .sidebar__category
              a(href="#").sidebar__category-top
                .sidebar__category-num 01.
                .sidebar__category-name косметология
                .sidebar__category-top-icon
              .sidebar__category-drop
                a(href="#") аппаратная косметология
                a(href="#") инъекционная косметология
                a(href="#") терапевтическая косметология
            // category
            .sidebar__category
              a(href="#").sidebar__category-top
                .sidebar__category-num 02.
                .sidebar__category-name эстетическая косметология
                .sidebar__category-top-icon
              .sidebar__category-drop
                a(href="#") аппаратная косметология
                a(href="#") инъекционная косметология
                a(href="#") терапевтическая косметология
            // category =
            .sidebar__category
              a(href="#").sidebar__category-top
                .sidebar__category-num 03.
                .sidebar__category-name пластическая хирургия
                .sidebar__category-top-icon
              .sidebar__category-drop
                a(href="#") аппаратная косметология
                a(href="#") инъекционная косметология
                a(href="#") терапевтическая косметология
            // category
            .sidebar__category
              a(href="#").sidebar__category-top
                .sidebar__category-num 04.
                .sidebar__category-name реабилитация
                .sidebar__category-top-icon
              .sidebar__category-drop
                a(href="#") аппаратная косметология
                a(href="#") инъекционная косметология
                a(href="#") терапевтическая косметология
                    
        .p-row__col
          .text-title.wow название категории 1
          p.wow A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her. Failure is not an option.
          
          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться
                
          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться   
            
          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться 
          
          // next
          .text-title.wow название категории 2
          p.wow A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her. Failure is not an option.
          
          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться
                
          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться   
            
          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться 

          // next
          .text-title.wow название категории 3
          p.wow A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her. Failure is not an option.

          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться
                
          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться   
            
          // price row
          .price-row.wow
            .price-row__name название элемента
            .price-row__price 2 000 руб.
            .price-row__cta
              a(href="#").btn.btn-red
                span Записаться 
                
