/* Contact
.contact

  &__wrapper
    display: flex

  &__col
    flex: 0 1 25%
    width: 25%
    text-align: center

  &__head
    +history
    font-size: 18px

  &__content
    margin-top: 30px
    span
      color: $colorGray
      display: block
      line-height: 1.5
      a
        +tr
        &:hover
          color: $colorRed
    .footer__socials
      justify-content: center

  &-map
    margin-top: 30px
    height: 600px
    display: flex
    flex-direction: column
    background: $grayColor
