
/* equal slide
.equal-slider

.equal-slide
  &__wrapper
    display: flex
    padding-top: 24px

  &__left, &__right
    min-width: 0
    min-height: 1px
    flex: 0 1 50%
    width: 50%
    display: flex
    flex-direction: column
    img
      max-width: 100%

  &__left
    align-items: flex-start
    padding: 50px 8%
    background: #F7F7F7

  &__right
    margin-top: -24px
    background: #F7F7F7
    position: relative
    overflow: hidden

  &__title
    +history
    font-size: 46px

  &__text
    margin-top: 30px
    color: $colorGray
    p
      display: block
      line-height: 1.5
    + .more-link
      margin-top: 15px

+r($tablet)
  .equal-slide
    &__wrapper
      flex-direction: column-reverse
    &__left, &__right
      flex: 0 0 auto
      width: 100%
      // background: transparent
    &__left
      padding: 40px 5%
    &__text
      margin-top: 10px
    &__right
      .shadow-image
        padding-right: 0
        padding-left: 0

+r($mobile)
  .equal-slide
    &__title
      font-size: 24px
