// HEADER
.header
  position: fixed
  left: 0
  right: 0
  z-index: 10
  transition: all .15s ease

  &.is-menu-opened
    background: white
    position: fixed

  // &--transformed
  //   background: white
  //   transform: translate3d(0,-100%,0)
  //   .header__wrapper
  //     padding: 15px 0

  &--fixed
    background: white
    // transform: translate3d(0,-100%,0)
    // position: fixed
    box-shadow: 0 4px 8px rgba(black, .1)
    // .header__wrapper
    //   padding: 15px 0

  &__wrapper
    display: flex
    align-items: center
    padding: 30px 0
    +history

  &__logo
    display: inline-block
    flex: 0 0 240px
    background: #D8D8D8
    height: 50px

  &__menu
    flex: 1 1 auto
    list-style: none
    padding: 0
    margin: 0 30px 0 50px
    display: flex
    align-items: center
    +tr
    opacity: 0
    transform: translate3d(0,-10px,0)
    pointer-events: none
    &.is-active
      pointer-events: all
      opacity: 1
      transform: translate3d(0,0,0)

    > li
      position: relative
      flex: 1 1 auto
      display: inline-block
      font-size: 14px
      > a
        position: relative
        display: inline-block
        padding: 15px 5px
        +tr
        &::after
          display: inline-block
          content: ' '
          position: absolute
          bottom: 0px
          left: 0
          right: 0
          height: 1px
          background: $colorRed
          opacity: 0
          pointer-events: none
          transform: translate(0,5px)
          +tr

      &.is-active
        > a
          color: $colorRed
          &::after
            opacity: 1
            transform: translate(0,0)

        .header__menu-sub
          opacity: 1
          transform: translate3d(0,0,0)
          pointer-events: all

    &-sub
      list-style: none
      margin: 0
      padding: 15px 25px 15px 40px
      position: absolute
      left: 0
      top: 44px
      z-index: 5
      background: #FFFFFF
      border: 1px solid #000000
      opacity: 0
      transform: translate3d(0,20px,0)
      pointer-events: none
      +tr
      &::before
        display: inline-block
        content: ' '
        position: absolute
        top: 27px
        left: 20px
        bottom: 25px
        width: 1px
        background: $fontColor
      li
        display: block
        font-size: 13px
        a
          display: inline-block
          white-space: nowrap
          padding: 12px 0
          color: $colorGray
          +tr
          &:hover
            color: $colorRed

      &:hover
        opacity: 1
        transform: translate3d(0,0,0)
        pointer-events: all


  &__cta
    flex: 0 0 auto
    margin-left: auto
    display: flex
    flex-direction: column
    align-items: flex-end

  &__cta-mobile
    display: none
    font-size: 29px
    +tr
    &:hover
      color: $colorRed

  &__callback
    display: inline-block
    margin-bottom: 5px
    +tr
    .ico
      font-size: 10px
      color: $colorRed
      +tr
    span
      display: inline-block
      margin-left: 6px
      font-size: 12px
    &:hover
      color: $colorRed

  &__phone
    display: inline-block
    font-size: 28px
    +tr
    span
      &:first-child
        display: inline-block
        font-size: 10px
        color: $colorRed
        margin-right: 10px
    &:hover
      color: $colorRed

  &__hamburger
    margin-left: 30px
    flex: 0 0 auto

.inner
  .header
    &__menu
      pointer-events: all
      opacity: 1
      transform: translate3d(0,0,0)
    &__hamburger
      display: none


+r(1300)
  .header
    &__menu
      display: none

  .inner
    .header
      &__hamburger
        display: block
+r(600)
  .header
    &__wrapper
      padding: 15px 0
    &__logo
      flex-basis: 188px
    &__cta
      display: none
    &__hamburger
      margin-left: 20px

    &__cta-mobile
      display: inline-block
      margin-left: auto


/* mobile-navi
.mobile-navi
  display: none
  flex-direction: column
  overflow-y: auto
  position: fixed
  top: 115px
  left: 0
  right: 0
  bottom: 0
  z-index: 9
  border-top: 1px solid $borderColor
  opacity: 0
  pointer-events: none
  &::before, &::after
    display: inline-block
    content: ' '
    background: rgba(white, .95)
    position: absolute
    top: 0
    bottom: 0
    width: 0vw
    pointer-events: none
    +tr
  &::before
    left: 50%

  &::after
    right: 50%

  &.is-active
    opacity: 1
    pointer-events: all
    &::before
      left: 0
      width: 50vw
    &::after
      right: 0
      width: 50vw
    .mobile-navi__menu
      opacity: 1

  &__menu
    position: relative
    z-index: 2
    flex: 1 1 auto
    display: flex
    flex-direction: column
    align-items: stretch
    list-style: none
    padding: 50px 20px
    margin: 0 auto
    width: 100%
    max-width: 300px
    opacity: 0
    transition: all .3s .5s ease
    > li
      position: relative
      flex: 1 0 auto
      display: block
      width: 100%
      +history
      font-size: 18px
      padding-right: 30px
      cursor: pointer
      &::after
        display: inline-block
        content: ' '
        position: absolute
        top: 25px
        // transform: translateY(-50%)
        right: 0
        background: svg-load('../icons/menu-drop.svg') no-repeat center
        size: 16px 10px
        +tr
      > a
        display: inline-block
        padding: 20px 0

      > ul
        display: none
        position: relative
        list-style: none
        padding: 5px 0 5px 15px
        &::before
          display: inline-block
          content: ' '
          position: absolute
          top: 15px
          left: 0px
          bottom: 15px
          background: $fontColor
          width: 1px
        li
          display: block
          +history
          font-size: 13px
          a
            display: inline-block
            padding: 10px 0
            color: $colorGray
            +tr
            &:hover
              color: $colorRed

      &:hover
        &::after
          background-image: svg-load('../icons/menu-drop-red.svg')

      &.is-opened
        &::after
          background-image: svg-load('../icons/menu-drop-red.svg')
          transform: rotate(180deg)




+rmin(1300)
  .mobile-navi
    display: none !important

+r(1300)
  .mobile-navi
    display: flex

+r(600)
  .mobile-navi
    top: 80px
