.hero
  position: relative
  padding-top: 115px
  margin-bottom: 10px
  &:not(.hero--inner)
    // min-height: 500px
    // height: calc(100vh + 115px)
    // max-height: 800px
  &::after
    display: inline-block
    content: ' '
    position: absolute
    top: 0
    right: 0
    bottom: 0
    z-index: 1
    width: 75%
    background: #F7F7F7
  > .container
    position: relative
    min-height: calc(500px + 8vh + 8px)
    height: calc(100vh - 115px)
    max-height: calc(800px + 115px - 30px)

  .scrolldown
    position: absolute
    bottom: 0
    left: 36px
    z-index: 3
    cursor: pointer
    svg .oval
      transform: translate3d(0,0px,0)
      animation: scrollDown 2s ease infinite

  &--inner
    margin-bottom: 30px
    &::after
      display: none
    > .container
      min-height: 500px
      height: calc(70vh - 115px)
      max-height: 800px
    .scrolldown
      bottom: 4vh
      svg g
        fill: white
      svg circle
        stroke: white

@keyframes scrollDown
  0%
    transform: translate3d(0,0px,0)
  25%
    transform: translate3d(0,-10px,0)
  50%
    transform: translate3d(0,22px,0)
  100%
    transform: translate3d(0,0px,0)

.hero-slider
  position: absolute
  top: 115px
  right: 0
  left: 0
  z-index: 2

+r($desktop)
  .hero
    .scrolldown
      left: 22px

+r(600)
  .hero
    padding-top: 80px

  .hero-slider
    top: 80px


/* hero slide
.hero-slide
  width: 100%
  &__wrapper
    position: relative
    overflow: hidden
    display: flex
  &__left
    position: relative
    overflow: hidden
    flex: 0 1 ((9/12) * 100%)
    display: flex
    flex-direction: column
    min-height: 500px
    height: calc(100vh - 115px - 8px - 8vh)
    max-height: 800px
    padding: 50px calc( ((2/12) * 100%) + 30px) 50px 30px
  &__right
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    z-index: 5
    flex: 0 1 ((5/12) * 100%)
    width: ((5/12) * 100%)
    background: white
    padding: 25px
    img
      width: 100%
  &-bg
    position: absolute
    z-index: 1
    object-fit: cover
    width: 100%
    height: 100%
    // top: 50%
    // left: 50%
    // z-index: 1
    // transform: translate(-50%,-50%)
    // min-width: 100%
    // min-height: 100%
    // width: auto
    // height: auto

  &__content
    flex: 1 1 auto
    position: relative
    z-index: 2
    display: flex
    flex-direction: column
    color: white
    text-align: right

  &__title
    position: relative
    display: block
    width: 100%
    margin-top: auto
    font-size: 70px
    line-height: 1
    +history
    &::after
      display: inline-block
      content: ' '
      position: absolute
      bottom: -40px
      right: -40px
      width: 100px
      height: 1px
      background: white
      mix-blend-mode: multiply
      z-index: 5

  &__text
    margin-top: 80px
    font-size: 16px
    line-height: 1.3
    padding-left: 20%

  &__cta
    margin-top: 40px
    margin-bottom: auto

+r($wide)
  .hero-slide
    &__title
      font-size: 53px

+r($desktop)
  .hero
    > .container
      position: relative
      min-height: 670px
      height: calc(100vh + 8vh + 20px)
      max-height: auto
    &--inner
      > .container
        min-height: 670px
        height: calc(100vh + 8vh + 20px)
        max-height: auto

  .hero-slide
    &__left
      min-height: 670px
      height: 100vh
      max-height: auto
      flex-basis: 100%
      padding-right: 30px
    &__right
      width: 100%
      flex: 0 1 100%
      max-width: 440px
      top: 60px
      left: 50%
      transform: translateX(-50%)
    &__content
      padding-top: 355px
      text-align: center
    &__title
      &::after
        display: none

    &__text
      margin-top: 30px
      padding-left: 0
      max-width: 570px
      margin-left: auto
      margin-right: auto
    &__cta
      margin-top: 25px

+r($tablet)
  .hero
    &::after
      display: none

  .hero-slide
    margin-left: -15px
    margin-right: -15px
    &__left
      padding: 40px 20px 50px 30px
    &__right
      width: calc(100% - 40px)
    &__title
      font-size: 32px




/* SLIDER
.slider
  position: absolute
  top: 115px
  left: 0
  right: 0
  z-index: 2

+r(600)
  .slider
    top: 80px

.slider-slide
  position: relative
  min-height: 500px
  height: calc(70vh - 115px)
  max-height: 800px
  &-bg
    display: block
    max-width: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    object-fit: cover
    z-index: 1
  &::before
    display: inline-block
    content: ' '
    position: absolute 0
    z-index: 2
    background: rgba(#212526, .4)

  &__content
    position: absolute 0
    padding: 80px 25px 40px 25px
    z-index: 3
    display: flex
    flex-direction: column
    justify-content: center
    color: white
    text-align: center

  &__title
    position: relative
    font-size: 70px
    padding-bottom: 15px
    margin-bottom: 35px
    +history
    &::after
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      display: inline-block
      content: ' '
      width: 130px
      height: 1px
      background: white

+r($desktop)
  .slider-slide
    min-height: 670px
    height: 100vh
    max-height: auto
    &__title
      font-size: 53px


+r($mobile)
  .slider-slide
    &__title
      font-size: 32px

.breadcrumbs
  a
    text-decoration: underline
    &:hover
      text-decoration: none
    &::after
      display: inline-block
      content: '>'
      font-size: 16px
      margin: 0 5px
  span
    display: inline-block
