// INDEX


/* slick dots
.m-slick-dots
  .slick-dots
    list-style: none
    margin: 0
    padding: 4vh 0
    position: relative
    z-index: 5
    display: flex
    justify-content: center
    li
      margin-right: 8px
      cursor: pointer
      &:last-child
        margin-right: 0
      &::before
        display: inline-block
        content: ' '
        size: 8px
        border-radius: 50%
        background: #EDEBEB
        border: 1px solid $borderColor
        +tr
      button
        display: none
        font-size: 0
        background: transparent
        -webkit-apperance: none

      &:hover
        &::before
          background: rgba($colorRed, .5)
      &.slick-active
        &::before
          background: $colorRed
          border-color: $colorRed

/* slick arrows
.m-slick-arrows
  .slick-next, .slick-prev
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 5
    font-size: 30px
    cursor: pointer
    +tr
    &:hover
      color: $colorRed

  .slick-next
    right: -45px

  .slick-prev
    left: -45px

+r($wide)
  .m-slick-arrows
    .slick-next
      right: -35px

    .slick-prev
      left: -35px

+r($tablet)
  .m-slick-arrows
    .slick-next, .slick-prev
      font-size: 18px

.m-abs-controls
  .slick-next
    right: 45px
    color: white

  .slick-prev
    left: 45px
    color: white
  .slick-dots
    position: absolute
    bottom: 0
    left: 0
    right: 0

+r($desktop)
  .m-abs-controls
    .slick-next
      right: 25px
    .slick-prev
      left: 25px

+r($mobile)
  .m-abs-controls
    .slick-next
      right: 15px
    .slick-prev
      left: 15px


/* title
.title
  padding: 100px 0 60px 0
  text-align: center
  &__name
    position: relative
    font-size: 100px
    line-height: 1
    letter-spacing: 2px
    +history
    &::after
      display: inline-block
      content: ' '
      position: absolute
      top: -80px
      left: 50%
      transform: translateX(-50%)
      height: 60px
      width: 2px
      background: currentColor
    &--small
      font-size: 46px
      letter-spacing: 0px
      &::after
        display: none

  &__description
    max-width: 800px
    margin-left: auto
    margin-right: auto
    margin-top: 30px
    font-size: 16px
    line-height: 1.375
    text-align: center

  &--desc-only
    position: relative
    padding-top: 60px
    &::after
      display: inline-block
      content: ' '
      position: absolute
      top: 0px
      left: 50%
      transform: translateX(-50%)
      height: 60px
      width: 2px
      background: currentColor


+r($desktop)
  .title
    &__name
      font-size: 85px

+r($tablet)
  .title
    &__name
      font-size: 70px

+r($mobile)
  .title
    padding: 60px 0 40px 0
    &__name
      font-size: 28px
      &::after
        height: 30px
        top: -50px
        width: 1px
    &__description
      font-size: 14px


.small-title
  text-align: center
  margin: 35px 0
  +history
  font-size: 48px

+r($tablet)
  .small-title
    font-size: 24px


/* Shadow image
.shadow-image
  flex: 1 1 auto
  display: flex
  flex-direction: column
  padding-right: 24px
  padding-bottom: 24px
  img
    flex: 1 1 auto
    object-fit: cover
    max-width: 100%
    box-shadow: 24px 24px 0 #F7F7F7
    +tr

  &--left
    padding-right: 0
    padding-left: 24px
    img
      box-shadow: -24px 24px 0 #F7F7F7

  &:hover
    img
      opacity: .85
      box-shadow: 12px 12px 0 #F7F7F7

    &.shadow-image--left
      img
        box-shadow: -12px 12px 0 #F7F7F7


/* more link
.more-link
  position: relative
  font-size: 18px
  color: $fontColor
  span
    display: inline-block
    padding-right: 80px
    +tr
    &::after
      position: absolute
      top: 50%
      right: 0
      display: inline-block
      content: ' '
      background: $fontColor
      margin-left: 18px
      width: 60px
      height: 1px
      transform: translateY(-50%)
      +tr
  &--left
    span
      padding-right: 0
      padding-left: 80px
      &::after
        right: auto
        left: 0
        margin-left: 0
        margin-right: 18px
  &:hover
    span
      color: $colorRed
      text-decoration: underline
      &::after
        background: $colorRed


/* slide tabs
.slide-tabs
  display: flex
  align-items: center
  justify-content: center
  .ui-checkbox
    margin: 10px 2%

+r($tablet)
  .slide-tabs
    flex-direction: column
    align-items: flex-start

/* slide tab
.slide-tab
  padding-top: 30px
  display: none
  &.is-active
    display: block
  &__heading
    margin-bottom: 40px
    text-align: center
    +history
    font-size: 46px

+r($tablet)
  .slide-tab
    &__heading
      font-size: 28px


/* row col
.p-row
  display: flex
  align-items: flex-start
  &__col
    flex: 0 1 75%
    width: 75%
    min-width: 0
    min-height: 1px
    padding-left: 15px
    p
      position: relative
      font-size: 16px
      line-height: 1.5
      color: $colorGray
      font-family: 'Roboto Slab', sans-serif
    .text-title
      margin-top: 30px
      &:first-child
        margin-top: -0px

+r($desktop)
  .p-row
    flex-direction: column
    &__col
      flex: 0 0 auto
      width: 100%
      padding-left: 0


/* load more
.load-more
  margin-top: 10px
  text-align: center
  .btn
    width: calc(33.3% - 24px)
    max-width: 380px


+r($desktop)
  .load-more
    .btn
      width: 100%
      max-width: 320px


/* page nav
.page-nav
  padding: 30px 0
  margin: 15px 0
  display: flex
  border-bottom: 1px solid $fontColor
  &__prev, &__next
    position: relative
    display: flex
    align-items: stretch
    flex: 0 1 50%
    min-height: 90px
    .ico
      font-size: 30px
      align-self: center
      +tr
    &:hover
      .ico
        fill: $colorRed

  &__prev
    .page-nav__content
      margin-left: 10%
    &::after
      display: inline-block
      content: ' '
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      height: 60px
      width: 1px
      background: $fontColor
    &:hover
      .ico
        transform: translateX(-20px)

  &__next
    text-align: right
    .page-nav__content
      margin-left: auto
      margin-right: 10%
    .ico
      transform: rotate(180deg)
    &:hover
      .ico
        transform: rotate(180deg) translateX(-20px)

  &__content
    flex: 0 1 auto
    display: flex
    flex-direction: column
    padding: 0 15px

  &__name
    font-size: 12px
    color: $colorGray
    +history
  &__date
    margin-top: auto
    color: $colorGray
  &__title
    margin-top: 5px
    +history
    font-size: 18px

+r($tablet)
  .page-nav
    flex-direction: column
    &__prev, &__next
      flex: 0 0 auto
    &__title
      font-size: 16px
    &__prev
      margin-bottom: 80px
      &::after
        bottom: -60px
        top: auto
        left: 50%
        height: 30px
        transform: translateX(-50%)
