/* sidebar
.sidebar
  flex: 0 1 33.3%
  min-width: 0
  min-height: 1px
  padding-right: 15px
  &__inner
    padding: 30px 8%
    background: #F7F7F7

  &__mobile-control
    display: none
    justify-content: space-between
    padding-bottom: 15px
    border-bottom: 1px solid $fontColor
    cursor: pointer
    > span
      margin-top: 5px
      line-height: 1.26
      +history
      font-size: 14px
    &-icon
      position: relative
      cursor: pointer
      size: 24px
      span
        position: absolute
        top: 10px
        left: 0
        display: block
        width: 24px
        height: 4px
        background: $fontColor
        +tr
        &:last-child
          transform-origin: center center
          transform: rotate(90deg)
    &:hover
      .sidebar__mobile-control-icon span
        background-color: $colorRed
    &.is-opened
      .sidebar__mobile-control-icon span
        background-color: $colorRed
        transform: rotate(180deg)
        &:last-child
          opacity: 0

  &__category
    margin-right: 30px
    &-top
      position: relative
      +history
      cursor: pointer
      padding: 15px 0
      border-bottom: 1px solid #CCCCCC
      &::after
        display: inline-block
        content: ' '
        position: absolute
        top: calc(50% + 10px)
        transform: translateY(-50%)
        right: -30px
        background: svg-load('../icons/menu-drop.svg') no-repeat center
        size: 16px 10px
        +tr
      &:hover
        &::after
          background-image: svg-load('../icons/menu-drop-red.svg')

      &.is-opened
        border-color: #212526
        &::after
          background-image: svg-load('../icons/menu-drop-red.svg')
          transform: translateY(-50%) rotate(180deg)

    &-num
      font-size: 12px
    &-name
      margin-top: 5px
      line-height: 1.26
      +history
      font-size: 24px
      // overflow: hidden

    &-drop
      display: none
      +history
      font-size: 14px
      line-height: 1.28em
      padding: 10px 0
      border-bottom: 1px solid #CCCCCC
      &.is-opened
        display: block
      a
        position: relative
        display: block
        padding: 8px 0 8px 30px
        +tr
        &::after
          display: inline-block
          content: ' '
          width: 16px
          height: 1px
          background: $fontColor
          position: absolute
          top: 12px
          left: 0
          +tr
        &:hover
          color: $colorRed
          &::after
            background: $colorRed
            transform: translateX(-5px)

+r(1150)
  .sidebar
    &__category
      &-name
        font-size: 22px

+rmin($desktop)
  .sidebar
    &__category
      display: block !important
+r($desktop)
  .sidebar
    flex: 0 0 auto
    width: 100%
    margin-bottom: 30px
    margin-right: 0
    &__mobile-control
      display: flex
    &__category
      display: none
