.ico-back-arrow {
  width: 0.62em;
  height: 1em;
  fill: #212526;
}
.ico-benefits {
  width: 1em;
  height: 1em;
  fill: url(#b);
}
.ico-callback {
  width: 1em;
  height: 1em;
  fill: #FF2934;
}
.ico-checked {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-direction {
  width: 0.56em;
  height: 1em;
  fill: #FF2934;
}
.ico-hide {
  width: 0.63em;
  height: 1em;
  fill: #FF2934;
}
.ico-image {
  width: 1em;
  height: 1em;
  fill: #FF2934;
}
.ico-menu-drop-red {
  width: 1.6em;
  height: 1em;
  fill: #FF2934;
}
.ico-menu-drop {
  width: 1.6em;
  height: 1em;
  fill: #212526;
}
.ico-next-arrow {
  width: 0.62em;
  height: 1em;
  fill: #212526;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: #FF2934;
}
.ico-scrollDown {
  width: 0.16em;
  height: 1em;
  fill: #212526;
}
.ico-social-facebook {
  width: 1em;
  height: 1em;
  fill: #FFFFFE;
}
.ico-social-instagram {
  width: 1em;
  height: 1em;
  fill: #FFFFFE;
}
.ico-social-vk {
  width: 1.73em;
  height: 1em;
  fill: none;
}
.ico-social-youtube {
  width: 1.44em;
  height: 1em;
  fill: #FFFFFE;
}
.ico-up {
  width: 1.6em;
  height: 1em;
  fill: #FF2934;
}
